<div class="table-container">

    <p>
      <mdl-textfield label="Recherche"
        [ngModel]="search"
        (ngModelChange)="find($event)"
        autofocus
        floating-label></mdl-textfield>
    </p>

    <div class="table-bar">

      <app-button mdlColor="accent" mdlType="fab"
                  icon="refresh" (click)="find()"></app-button>

      <app-button mdlColor="accent" mdlType="fab"
                  [disabled]="!isSelected"
                  icon="remove" (click)="remove()"></app-button>

      <app-button mdlColor="accent" mdlType="fab"
                  [disabled]="!isSelected"
                  icon="edit" (click)="edit()"></app-button>

      <app-button mdlColor="primary" mdlType="fab"
                  icon="add" (click)="add()"></app-button>
    </div>

    <mdl-table-selectable mdl-shadow="2"
                          [table-model]="tableModel"
                          [table-model-selected]="selected"
                          (table-model-selectionChanged)="selectionChanged($event)">
    </mdl-table-selectable>

  </div>
