<div>
  <form id="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <p>
      <mat-form-field>
        <mat-label for="login">Identifiant</mat-label>
        <input matInput id="login" type="text" formControlName="login">
      </mat-form-field>
      <crm-help [field]="loginForm.get('login')"
                       [messages]="{
                         required: 'Entrez votre login',
                         minlength: 'Le login doit avoir un minimum de 3 caractères.'
                       }"></crm-help>
    </p>
    <p>
      <mat-form-field>
        <mat-label for="password">Mot de passe</mat-label>
        <input matInput id="password" type="password" formControlName="password">
      </mat-form-field>
      <crm-help [field]="loginForm.get('password')"
                      [messages]="{required: 'Entrez votre mot de passe'}"></crm-help>
    </p>
    <p>
      <button type="submit" [disabled]="!loginForm.valid" mat-button
          color="primary">Valider</button>
   </p>
  </form>
</div>
