<div>
  <form id="consumerForm" [formGroup]="consumerForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-select placeholder="Civilité" formControlName="civility">
          <mat-option value="Mr">Mr</mat-option>
          <mat-option value="Mme">Mme</mat-option>
        </mat-select>
      </mat-form-field>
      <crm-help [field]="consumerForm.get('civility')"
                [messages]="{required: 'Choisissez une civilité'}">
      </crm-help>
    <p>
        <mat-form-field>
          <mat-label for="firstname">Prénom</mat-label>
          <input matInput id="firstname" type="text" formControlName="firstname">
        </mat-form-field>
      <crm-help [field]="consumerForm.get('firstname')"
                [messages]="{
                  required: 'Entrez le prénom',
                  minlength: 'Le prénom doit avoir un minimum de 3 caractères.'
                }">
      </crm-help>
    </p>
    <p>
      <mat-form-field>
        <mat-label for="lastname">Nom</mat-label>
        <input matInput id="lastname" type="text" formControlName="lastname">
      </mat-form-field>
      <crm-help [field]="consumerForm.get('lastname')"
                [messages]="{
                  required: 'Entrez le nom',
                  minlength: 'Le nom doit avoir un minimum de 3 caractères.'
                }">
      </crm-help>
    </p>
    <p>
        <mat-form-field>
          <mat-label for="email">Email</mat-label>
          <input matInput id="email" type="text" formControlName="email">
        </mat-form-field>
      <crm-help [field]="consumerForm.get('email')"
                [messages]="{
                  required: 'Entrez l\'email',
                  email: 'Format d\'email incorrect'
                }">
      </crm-help>
    </p>
    <p>
      <mat-form-field>
        <mat-label for="phone">Téléphone</mat-label>
        <input matInput id="phone" type="text" formControlName="phone" maxlength="10">
      </mat-form-field>
      <crm-help [field]="consumerForm.get('phone')"
                [messages]="{
                  required: 'Entrez le téléphone',
                  minlength: 'Le téléphone doit avoir un minimum de 10 caractères.'
                }">
      </crm-help>
    </p>
    <div class="buttons-bar">
      <!-- Bouton d'annulation -->
      <button type="button" mat-icon-button color="warn" matTooltip="Annuler" (click)="cancel()">
        <mat-icon>cancel</mat-icon>
      </button>
      <!-- Bouton de validation du formulaire -->
      <button type="submit" mat-icon-button color="primary" matTooltip="Valider" [disabled]="!consumerForm.valid">
        <mat-icon>check</mat-icon>
      </button>
    </div>
  </form>
</div>
