<div>
  <form (ngSubmit)="onSubmit()" [formGroup]="consumerForm" id="consumerForm">
    <mat-form-field>
      <mat-select formControlName="civility" placeholder="Civilité">
        <mat-option value="Mr">Mr</mat-option>
        <mat-option value="Mme">Mme</mat-option>
      </mat-select>
    </mat-form-field>
    <crm-help [field]="consumerForm.get('civility')"
              [messages]="{required: 'Choisissez une civilité'}">
    </crm-help>
    <p>
      <mat-form-field>
        <mat-label for="firstname">Prénom</mat-label>
        <input formControlName="firstname" id="firstname" matInput type="text">
      </mat-form-field>
      <crm-help [field]="consumerForm.get('firstname')"
                [messages]="{
                  required: 'Entrez le prénom',
                  minlength: 'Le prénom doit avoir un minimum de 3 caractères.'
                }">
      </crm-help>
    </p>
    <p>
      <mat-form-field>
        <mat-label for="lastname">Nom</mat-label>
        <input formControlName="lastname" id="lastname" matInput type="text">
      </mat-form-field>
      <crm-help [field]="consumerForm.get('lastname')"
                [messages]="{
                  required: 'Entrez le nom',
                  minlength: 'Le nom doit avoir un minimum de 3 caractères.'
                }">
      </crm-help>
    </p>
    <p>
      <mat-form-field>
        <mat-label for="email">Email</mat-label>
        <input formControlName="email" id="email" matInput type="text">
      </mat-form-field>
      <crm-help [field]="consumerForm.get('email')"
                [messages]="{
                  required: 'Entrez l\'email',
                  email: 'Format d\'email incorrect'
                }">
      </crm-help>
    </p>
    <p>
      <mat-form-field>
        <mat-label for="phone">Téléphone</mat-label>
        <input formControlName="phone" id="phone" matInput maxlength="10" type="text">
      </mat-form-field>
      <crm-help [field]="consumerForm.get('phone')"
                [messages]="{
                  required: 'Entrez le téléphone',
                  minlength: 'Le téléphone doit avoir un minimum de 10 caractères.'
                }">
      </crm-help>
    </p>
    <div class="buttons-bar">
      <!-- Bouton d'annulation -->
      <button (click)="cancel()" color="warn" id="cancelButton" mat-icon-button matTooltip="Annuler" type="button">
        <mat-icon>cancel</mat-icon>
      </button>
      <!-- Bouton de validation du formulaire -->
      <button [disabled]="!consumerForm.valid" color="primary" id="validButton" mat-icon-button matTooltip="Valider" type="submit">
        <mat-icon>check</mat-icon>
      </button>
    </div>
  </form>
</div>
