<div>
  <mat-toolbar color="primary"  >
    <span>AngularCRM</span>
    <span class="fill-remaining-space"></span>
    <span>
      <a mat-icon-button matTooltip="Accueil"
        [routerLink]="'/home'"
        [routerLinkActive]="'is-active'">
        <mat-icon>home</mat-icon>
      </a>
    </span>
    <span>
      <a mat-icon-button matTooltip="Clients"
        [routerLink]="'/consumer'"
        [routerLinkActive]="'is-active'">
        <mat-icon>list</mat-icon>
      </a>
    </span>
    <span>
      <a mat-icon-button matTooltip="logout"
        [routerLink]="'/login'"
        [routerLinkActive]="'is-active'">
        <mat-icon>cancel</mat-icon>
      </a>
    </span>
  </mat-toolbar>
</div>
<router-outlet></router-outlet>
