<div>
  <mat-toolbar color="primary">
    <span>AngularCRM</span>
    <span class="fill-remaining-space"></span>
    <span>
      <a [routerLinkActive]="'is-active'" [routerLink]="'/home'"
         mat-icon-button
         matTooltip="Accueil">
        <mat-icon>home</mat-icon>
      </a>
    </span>
    <span>
      <a [routerLinkActive]="'is-active'" [routerLink]="'/consumer'"
         mat-icon-button
         matTooltip="Clients">
        <mat-icon>list</mat-icon>
      </a>
    </span>
    <span>
      <a [routerLinkActive]="'is-active'" [routerLink]="'/login'"
         mat-icon-button
         matTooltip="logout">
        <mat-icon>cancel</mat-icon>
      </a>
    </span>
  </mat-toolbar>
</div>
<router-outlet></router-outlet>
